@import '../variables.scss';

.container {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    display: grid;
    grid-template-rows: auto auto;
    .value {
        display: flex;
        h4 {
            padding: 15px;
        }
    }
    h1 {
        width: 100%;
        color: white;
        font-size: 18vh;
    };
    .buttonBlock {
        display: flex;
        flex-direction: column;
        button {
            flex: 1;
            margin: 0 20px 20px 20px;
            border-radius: 35px;
            max-width: 100px;
        }
    }
}