.container {
    position: relative;
    min-height: 530px;
    .el {
        min-width: 60px;
        min-height: 60px;
        margin: 0 15px 15px 0;
        display: flex;
        font-size: 80px;
        justify-content: center;
        align-items: center;
        border: 1px solid gray;
        border-radius: 15px;
        color: white
    };
    div:hover {
        // cursor: pointer;
    }
    .el:active {
        background-color: #9797972c;
    }
    .block {
        display: inline-block;
    };
    .empty {
        height: 80px;
    };
    .bottom {
        min-height: auto;
    }
    button {
        padding: 30px;
        font-size: 30px;
        width: 200px;
        
    }
}
